<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<footer class="footer-distributed">
    <div class="footer-left">
        <img src="../../assets/images/logo-dark1.jpg">
        <h3><span>5Feathers</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">Blog</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2019 5Feathers Technologies Pvt. Ltd.</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>309 - Nashik</span>
                Maharashtra, India - 422009</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91-9767549681</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@5Feathers.com">support@5Feathers.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            We offer Software solutions across Technology, Design and Management.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer> -->

<footer>
    <div class="container" style="height: 400px;">
        <div class="row justify-content-center " style="padding-top: 5%;">
            <div class="col-4">
                <p class="header">About 5 Feathers</p>
                <p style="width: 75%;">We are a technology driven company, who beleive in helpin you out with our
                    development team to
                    energise your business processes</p>
                <p style="width: 75%;">Our Mission is to create a difference in the digital space by offering IT
                    solutions</p>
            </div>
            <div class="col-4 ">
                <p class="header">Quick Links</p>
                <ul class="list-unstyled">
                    <li>Career</li>
                    <li>Testimonial</li>
                    <li>Support</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="col-4">
                <p class="header">Subscribe Our Newsletter</p>
                <div class="input-group email">
                    <input type="text" class="form-control email" placeholder="Enter Email Address"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn subsButton" type="button">SUBSCRIBE
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div style="display: flex;">
                    <i class="fa fa-facebook-official social" aria-hidden="true"></i>
                    <i class="fa fa-twitter social" aria-hidden="true"></i>
                    <i class="fa fa-linkedin social" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #5B2AEE; height: 50px; width:100%;">
        <div class="col-sm-6 ml-auto" style=" padding: 12px;" >
            <span>Home</span>
            <span>Why Us</span>
            <span>Testimonials</span>
            <span>Pricing</span>
            <span>FAQ</span>
            <span>Contact Us</span>
        </div>
    </div>
</footer>