<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center below-heading">
            <p class="display-4 ">
                Our Work
            </p>
            <hr>
        </div>
    </div>
    <div class="row below-heading">
        <div class="col-6">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-6">
            <h4><u>Vehicle Management System</u></h4>
            <dl class="row">
                <dt class="col-sm-3">Front End</dt>
                <dd class="col-sm-9">HTML/CSS</dd>

                <dt class="col-sm-3">Back End</dt>
                <dd class="col-sm-9">
                    <p>Asp.Net MVC</p>
                </dd>
                <dt class="col-sm-3">DataBase</dt>
                <dd class="col-sm-9">MS-SQL</dd>
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">It is a Vehicle management system built using microsoft stack. There are three roles in it the admin visitor of the showroom and the customer. It is a customizable and easy to deploy project</dd>
            </dl>
        </div>
    </div>
    <div class="row below-heading">
        <div class="col-6">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-6">
            <h4><u>Employee Management System</u></h4>
            <dl class="row">
                <dt class="col-sm-3">Front End</dt>
                <dd class="col-sm-9">Angular 10</dd>

                <dt class="col-sm-3">Back End</dt>
                <dd class="col-sm-9">
                    <p>SpringBoot Java</p>
                </dd>
                <dt class="col-sm-3">DataBase</dt>
                <dd class="col-sm-9">My-SQL</dd>
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">It is a Employee management system. There are two roles in it the admin and the employee. It is a customizable and easy to deploy project</dd>
            </dl>
        </div>
    </div>
    <div class="row below-heading">
        <div class="col-6">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-6">
            <h4><u>Hospital Management System</u></h4>
            <dl class="row">
                <dt class="col-sm-3">Front End</dt>
                <dd class="col-sm-9">Angular 10</dd>

                <dt class="col-sm-3">Back End</dt>
                <dd class="col-sm-9">
                    <p>SpringBoot Java</p>
                </dd>
                <dt class="col-sm-3">DataBase</dt>
                <dd class="col-sm-9">My-SQL</dd>
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">It is a Hospital management system. There are two roles in it the admin and the employee. It is a customizable and easy to deploy project</dd>
            </dl>
        </div>
    </div>
</div>